@import "./selected-css.css";

@import "tachyons-base";
@import "tachyons-box-sizing";
@import "tachyons-type-scale";
@import "tachyons-floats";
@import "tachyons-borders";
@import "tachyons-links";
@import "tachyons-widths";
@import "tachyons-spacing";
@import "tachyons-tables";
@import "tachyons-display";

body {
	font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
						   sans-serif;
}

/* Nicolas Gallaghers Clearfix solution
 *    Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

.blg { border-color: #aaa; }
