.measure{ max-width:30em; }
.truncate{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
@media screen and (min-width: 30em){
 .measure-ns{ max-width:30em; } }
@media screen and (min-width: 30em) and (max-width: 60em){}
@media screen and (min-width: 60em){}